[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
evasdk = "~=3.0.0"
numpy = "*"
numpy-stl = "*"
pytransform3d = "*"
pyvista = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
